@import "../../style/variable.scss";

.kv-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
}

.kv-textarea--content {
  background-color: $--input-background-color;
  border: $--input-border;
  border-radius: $--input-border-radius;
  -webkit-appearance: none;
  background-image: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  padding: 4px 11px;
  transition: all 0.2s;
  width: 100%;

  &::placeholder {
    font-size: 14px;
    color: $--input-border-color;
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: $--color--primary;
  }
}
