$-color-primary: #1890ff !default;

$-text-color-primary: #333333 !default;
$-color-text-regular: #666666 !default;
$-color-text-secondary: #999999 !default;
$-color-text-placeholder: #cccccc !default;
