@import "./iconfont.scss";

[class*="v-icon-"],
[class^="v-icon-"] {
  font-family: veco-iconfont !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
