tr.kv-datagrid-demo--row-success {
  > td {
    background-color: #ebf9eb;
    color: #46c93a;
  }
}

tr.kv-datagrid-demo--row-error {
  > td {
    background-color: #fcecee;
    color: #ff4757;
  }
}

td.kv-datagrid-demo--cell-success {
  background-color: #ebf9eb !important;
  color: #46c93a;
}
td.kv-datagrid-demo--cell-error {
  background-color: #fcecee !important;
  color: #ff4757;
}
