@import "../../style/variable.scss";

.kv-date-day {
  user-select: none;
  border-collapse: collapse;
  font-size: 14px;
}

.kv-date-day--week {
  text-align: center;
  padding: 5px;
  color: #606266;
  font-weight: 400;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.kv-date-day--cell {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;

  .kv-date-day--text {
    height: 30px;
    width: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
  }

  &:hover > .kv-date-day--text {
    background-color: #e6f7ff;
  }
}

.kv-date-day--prev-month,
.kv-date-day--next-month {
  color: #c0c4cc;
}

.kv-date-day--today {
  color: $--color--primary;
  font-weight: bold;
}

.kv-date-day--select {
  &:hover > .kv-date-day--text,
  .kv-date-day--text {
    background-color: $--color--primary;
    color: #ffffff;
  }
}

//   .sh-date-table--disabled {
//       padding-left: 0;
//       padding-right: 0;
//       cursor: not-allowed;

//       div {
//           cursor: not-allowed;
//           color: $--date-time-disabled-color;
//           background-color: $--date-time-disabled-background-color;
//           border-radius: 0;
//           width: auto;
//           border: 1px solid transparent;
//       }

//       &:hover {
//           div {
//               background-color: $--date-time-disabled-background-color;
//           }
//       }

//       &.sh-date-table--today {
//           padding: 0;

//           div::before {
//               content: ' ';
//               position: absolute;
//               top: 5px;
//               left: 5px;
//               width: 29px;
//               height: 27px;
//               border: $--date-time-today-dsiabled-border;
//               border-radius: 2px;
//           }
//       }
//   }
// }
