// 表体样式
.kv-datagrid--body-table {
  width: 100%;
  table-layout: fixed;
}

.kv-datagrid--body-row {
  background-color: #ffffff;
}

.kv-datagrid--body-cell {
  position: relative;
  min-width: 0;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  word-wrap: break-word;
  word-break: break-all;
  padding: 8px;
  vertical-align: middle;
}

.kv-datagird--row-hover {
  background-color: #e6f7ff;
}

.kv-datagird--row-selected {
  color: #1f74ff;
  background-color: #e6f7ff;
}
