// 表体样式
.kv-datagrid--body-table {
  width: 100%;
  table-layout: fixed;
}

.kv-datagrid--body-row {
  background-color: #ffffff;
}

.kv-datagrid--body-cell {
  position: relative;
  min-width: 0;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  word-wrap: break-word;
  word-break: break-all;
  padding: 8px;
  vertical-align: middle;
}

.kv-datagird--row-hover {
  background-color: #e6f7ff;
}

.kv-datagird--row-selected {
  color: #1f74ff;
  background-color: #e6f7ff;
}

// // 树表格样式
// tr > td > .kv-datagrid--tree-cell {
//   .kv-icon-fill-down-arrow {
//     display: inline-block;
//     margin-right: 8px;
//     cursor: pointer;
//     transition: all 0.3s;
//     transform: rotate(-90deg);
//   }

//   &.kv-datagrid--tree-expand {
//     .kv-icon-fill-down-arrow {
//       transform: rotate(0deg);
//     }
//   }

//   &.kv-datagrid--tree-space {
//     .kv-icon-fill-down-arrow {
//       visibility: hidden;
//       cursor: default;
//     }
//   }
// }
// }
