.kv-button {
  transition: all 0.2s ease;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  box-sizing: border-box;
  background: transparent;
  outline: none;

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.kv-button--text {
  position: relative;
  height: 16px;
  display: inline-block;
  transition: all 0.3s ease;
}

.kv-button--type-fill {
  &.kv-button--color-primary {
    background-color: #2e74ff;
    &:hover {
      box-shadow: 0px 9px 20px -9px #2e74ff;
    }
  }
  &.kv-button--color-success {
    background-color: #46c83a;
    &:hover {
      box-shadow: 0px 9px 20px -9px #46c83a;
    }
  }
  &.kv-button--color-danger {
    background-color: #f54757;
    &:hover {
      box-shadow: 0px 9px 20px -9px #f54757;
    }
  }
  &.kv-button--color-warning {
    background-color: #f9ba03;
    &:hover {
      box-shadow: 0px 9px 20px -9px #f9ba03;
    }
  }
}

.kv-button--type-border {
  padding: 9px;

  &.kv-button--color-primary {
    border: 1px solid #2e74ff;
    color: #2e74ff;

    &:hover {
      background-color: #2e74ff1a;
    }
  }
  &.kv-button--color-success {
    border: 1px solid #46c83a;
    color: #46c83a;

    &:hover {
      background-color: #46c83a1a;
    }
  }
  &.kv-button--color-danger {
    border: 1px solid #f54757;
    color: #f54757;

    &:hover {
      background-color: #f547571a;
    }
  }
  &.kv-button--color-warning {
    border: 1px solid #f9ba03;
    color: #f9ba03;

    &:hover {
      background-color: #f9ba031a;
    }
  }
}

.kv-button--type-flat {
  &.kv-button--color-primary {
    color: #2e74ff;

    &:hover {
      background-color: #2e74ff1a;
    }
  }
  &.kv-button--color-success {
    color: #46c83a;

    &:hover {
      background-color: #46c83a1a;
    }
  }
  &.kv-button--color-danger {
    color: #f54757;

    &:hover {
      background-color: #f547571a;
    }
  }
  &.kv-button--color-warning {
    color: #f9ba03;

    &:hover {
      background-color: #f9ba031a;
    }
  }
}

.kv-button--icon-default {
  width: 36px;
  height: 36px;
}

.kv-button--icon-left > i {
  margin-right: 5px;
}

.kv-button--icon-right > i {
  margin-left: 5px;
}

.kv-button--circle {
  border-radius: 18px;
}

.kv-button--size-large {
  font-size: 16px;
  padding: 13px;

  &.kv-button--circl {
    border-radius: 22px;
  }
}

.kv-button--size-small {
  padding: 6px 8px;
  &.kv-button--circl {
    border-radius: 14px;
  }
}
