// -----基本布局样式-----
// 表格外层容器
.vk-datagrid {
  zoom: 1;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.5;
  color: #333333;
}
// 表格布局
.vk-datagrid--header,
.vk-datagird--body,
.vk-datagrid--footer {
  position: relative;
}

// 左侧固定列
.vk-datagrid--header-left,
.vk-datagrid--body-left,
.vk-datagrid--body-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

// 中心内容
.vk-datagrid--header-center,
.vk-datagrid--body-center,
.vk-datagrid--footer-center {
  position: relative;
  z-index: 1;
  overflow: auto;

  // 表头和表体禁用滚动条
  &.vk-datagrid--header-center,
  &.vk-datagrid--footer-center {
    overflow: hidden;
  }
}

// 右侧固定列
.vk-datagrid--header-right,
.vk-datagrid--body-right,
.vk-datagrid--footer-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  overflow: hidden;
  height: 100%;

  > table {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
  }
}
// -----基本布局样式-----

// -----表格通用样式-----
// 表头表格
.vk-datagrid--header-table {
  table-layout: fixed;
  width: 100%;

  th {
    position: relative;
    box-sizing: border-box;
    min-width: 0;
    vertical-align: middle;
    background-color: #fafafa;
    white-space: nowrap;
    padding: 8px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    font-weight: 500;
  }
}

// 表体样式
.vk-datagrid--body-table {
  width: 100%;
  table-layout: fixed;

  td {
    position: relative;
    min-width: 0;
    box-sizing: border-box;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #ffffff;
    padding: 8px;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .vk-datagrid--visibility-hidden {
    visibility: hidden;
  }
}
// -----表格通用样式-----

// -----表格边框样式-----
// 表格边框
.vk-datagrid-border {
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;

  .vk-datagrid--header-table > tr > th {
    border-right: 1px solid #e8e8e8;
  }
  .vk-datagrid--body-table > tr > td {
    border-right: 1px solid #e8e8e8;
  }
}
// -----表格边框样式-----
