.kv-datagrid--header-table {
  table-layout: fixed;
  width: 100%;

  > tr {
    > th {
      position: relative;
      box-sizing: border-box;
      min-width: 0;
      vertical-align: middle;
      background-color: #fafafa;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 8px;
      border-bottom: 1px solid #e8e8e8;
      text-align: left;
      font-weight: 500;

      &.kv-datagird--align-left {
        text-align: left;
      }
      &.kv-datagird--align-center {
        text-align: center;
      }
      &.kv-datagird--align-right {
        text-align: right;
      }
    }

    > td {
      position: relative;
      min-width: 0;
      box-sizing: border-box;
      text-align: left;
      border-bottom: 1px solid #e8e8e8;
      word-wrap: break-word;
      word-break: break-all;
      background-color: #fafafa;
      padding: 8px;
      vertical-align: middle;

      &.kv-datagird--align-left {
        text-align: left;
      }
      &.kv-datagird--align-center {
        text-align: center;
      }
      &.kv-datagird--align-right {
        text-align: right;
      }
    }
  }
}
