.kv-tale--header-table {
  table-layout: fixed;
  width: 100%;
}

.kv-tale--header-column {
  position: relative;
  box-sizing: border-box;
  min-width: 0;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
  font-weight: 500;
  background-color: #fafafa;
}

.kv-tale--header-sort {
  padding-right: 20px;
  position: relative;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
}

.kv-tale--column-sort {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 10px;
  height: 12px;
  margin-top: -6px;
  color: #bfbfbf;
  text-align: center;
  transition: all 0.3s;
}

.kv-tale--column-sort-up {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  overflow: hidden;
  border-top: none;
  border-bottom: 5px solid #b2b2b2;
  margin-bottom: 2px;

  &.kv-tale--column-sort-active {
    border-bottom-color: #1890ff;
  }
}

.kv-tale--column-sort-down {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  overflow: hidden;
  border-bottom: none;
  border-top: 5px solid #b2b2b2;
  &.kv-tale--column-sort-active {
    border-top-color: #1890ff;
  }
}
