.kv-table--loading {
  position: absolute;
  z-index: 10;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin: 0;
  top: 0;
  //   right: 0;
  //   bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
}
.kv-table--loading-spinner {
  top: 50%;
  margin-top: -21px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.kv-table--loading-icon {
  height: 42px;
  width: 42px;
  animation: loading-rotate 2s linear infinite;
}

.kv-table--loading-path {
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 3;
  stroke: #409eff;
  stroke-linecap: round;
}

@keyframes loading-rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }

  to {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
