.kv-table--page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.kv-table--page-number {
  padding: 0 4px;
  background: #fff;
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  min-width: 35px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  border: 1px solid #e8e8ee;
  border-radius: 3px;
}

.kv-table--page-number:hover {
  border-color: #409eff;
  color: #409eff;
}

.kv-table--page-prev,
.kv-table--page-next {
  color: #d9d9d9;
  border-color: transparent;
  transition: all 0.3s;

  &:hover {
    border-color: transparent;
  }

  .kv-icon-doubleleft,
  .kv-icon-doubleright {
    font-weight: bold;
    color: #409eff;
  }
}

.kv-table--page-avtive,
.kv-table--page-avtive:hover {
  color: #ffffff;
  background-color: #409eff;
  border-color: #409eff;
}

.kv-table--page-disabled,
.kv-table--page-disabled:hover {
  color: #c0c4cc;
  border-color: #c0c4cc;
  cursor: not-allowed;
}
