// 表格容器
.kv-datagrid {
  position: relative;
  zoom: 1;
  box-sizing: border-box;
  line-height: 1.5;
  color: #333333;
  background-color: #fafafa;
}

// 表格布局
.kv-datagrid--header,
.kv-datagird--body,
.kv-datagrid--footer {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
}

// 左侧固定列
.kv-datagrid--header-left,
.kv-datagrid--body-left,
.kv-datagrid--body-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

// 中心内容
.kv-datagrid--header-center,
.kv-datagrid--body-center,
.kv-datagrid--footer-center {
  position: relative;
  z-index: 1;
  overflow: auto;

  // 表头和表体禁用滚动条
  &.kv-datagrid--header-center,
  &.kv-datagrid--footer-center {
    overflow: hidden;
  }
}

// 右侧固定列
.kv-datagrid--header-right,
.kv-datagrid--body-right,
.kv-datagrid--footer-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  overflow: hidden;
  height: 100%;

  > table {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
  }
}

.kv-datagrid--footer-pagination {
  position: relative;
  background-color: #ffffff;
  padding: 10px 0 5px 5px;
  box-sizing: border-box;
  border-top: 1px solid #e8e8e8;
  margin-top: -1px;
  margin-left: -1px;
  z-index: 6;

  .kv-datagrid--pagination {
    text-align: right;
    padding-right: 0;
  }
}

// 无数据占位
.kv-datagrid--body-empty {
  position: relative;
  z-index: 1;
  font-size: 14px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.kv-datagrid--body-empty-placeholder {
  padding: 32px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #aaaaaa;

  p {
    margin: 0;
    padding: 0;
  }
}

.kv-datagrid--body-empty-image {
  height: 40px;
  margin-bottom: 10px;

  img {
    height: 100%;
  }
}

.kv-datagrid--body-empty-fit {
  .kv-datagrid--body-empty-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

// 表格边框
.kv-datagrid-border {
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;

  .kv-datagrid--header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #e8e8e8;
    left: 0;
    bottom: 0;
    z-index: 5;
  }

  .kv-datagird--body-vscroll {
    border-bottom: 1px solid #e8e8e8;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    display: block;
    background-color: #e8e8e8;
    top: 0;
    right: 0;
    z-index: 5;
  }

  .kv-datagrid--header-table {
    .kv-datagrid--header-column {
      border-right: 1px solid #e8e8e8;
    }
  }

  .kv-datagrid--header-table,
  .kv-datagrid--body-table,
  .kv-datagrid--footer-table {
    .kv-datagrid--body-cell {
      border-right: 1px solid #e8e8e8;
    }
  }

  .kv-datagrid--loading {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    left: -1px;
    top: -1px;
  }
}

// 斑马线
.kv-datagrid-stripe {
  .kv-datagrid--body-row:nth-child(2n + 1) {
    background-color: #fafafa;
  }
}

// 对其格式
.kv-datagrid--align-left {
  text-align: left !important;
}
.kv-datagrid--align-center {
  text-align: center !important;
}
.kv-datagrid--align-right {
  text-align: right !important;
}
