// basic
$--color--primary: #2e74ff !default;
$--color--success: #46c83a !default;
$--color--danger: #f54757 !default;
$--color--warning: #f9ba03 !default;
$--color--white: #ffffff !default;
$--color--black: #000000 !default;

// button
$--button-color: #ffffff !default;
$--button-backgroud-color: transparent !default;
$--button-border-radius: 4px !default;

// checkbox
$--checkbox-border: 1px solid #b4b4b4 !default;
$--checkbox-background-color: $--color--white !default;
$--checkbox-border-radius: 2px !default;
$--checkbox-tick-border: 2px solid #ffffff !default;
