// basic
$--color--primary: #2e74ff !default;
$--color--success: #46c83a !default;
$--color--danger: #f54757 !default;
$--color--warning: #f9ba03 !default;
$--color--white: #ffffff !default;
$--color--black: #000000 !default;

// button
$--button-color: #ffffff !default;
$--button-backgroud-color: transparent !default;
$--button-border-radius: 4px !default;

// checkbox
$--checkbox-border: 1px solid #b4b4b4 !default;
$--checkbox-background-color: $--color--white !default;
$--checkbox-border-radius: 3px !default;
$--checkbox-tick-border: 2px solid #ffffff !default;

// radio
$--radio-border: 1px solid #b4b4b4 !default;
$--radio-background-color: $--color--white !default;

// input
$--input-border-color: #b4b4b4 !default;
$--input-border: 1px solid $--input-border-color !default;
$--input-background-color: $--color--white !default;
$--input-border-radius: 3px !default;
$--input-pend-background-color: #f0f0f0 !default;
$--input-fix-color: #777777 !default;

// select
$--select-background-color: $--color--white !default;
$--select-border-color: #b4b4b4 !default;
$--select-border: 1px solid $--select-border-color !default;
$--select-border-radius: 3px !default;
$--select-tag-border-radius: 3px !default;
$--select-icon-color: #777777 !default;
$--select-dropdown-background-color: $--color--white !default;
$--select-option-border-radius: 3px !default;

//datepicker

$--datepicker-border-color: #b4b4b4 !default;
$--datepicker-border: 1px solid #b4b4b4 !default;
