// basic
$--color--primary: #2e74ff !default;
$--color--success: #46c83a !default;
$--color--danger: #f54757 !default;
$--color--warning: #f9ba03 !default;
$--color--white: #ffffff !default;
$--color--black: #000000 !default;

// button
$--button-color: #ffffff;
$--button-backgroud-color: transparent;
$--button-border-radius: 4px;
