@import "../../style/variable.scss";

.kv-checkbox {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
}

.kv-checkbox--check {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;

  > input {
    display: none;
  }
}

.kv-checkbox--check-inner {
  border: 1px solid #b4b4b4;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  z-index: 1;
  transition: border-color 0.3s, background-color 0.3s;
}

.kv-checkbox--text {
  display: inline-block;
  padding-left: 10px;
  line-height: 20px;
}

.kv-checkbox--checked {
  .kv-checkbox--check-inner {
    background-color: #2e74ff;
    border-color: #2e74ff;
  }
  .kv-checkbox--check-inner::after {
    border: 2px solid #ffffff;
    box-sizing: content-box;
    content: "";
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 1px;
    width: 5px;
    transition: all 3s;
    transform-origin: center;
    transform: rotate(45deg) scaleY(1);
  }
}

.kv-checkbox--disabled {
  opacity: 0.5;
  pointer-events: none;
}
