.vsc-button {
  .v-button {
    margin: 6px 12px 6px 0;
  }
}

.vsc-link {
  .v-link {
    margin: 6px 12px 6px 0;
  }
}

.vsc-text {
  span.v-text {
    margin: 6px 12px 6px 0;
  }

  .v-text--ellipsis {
    width: 60px;
  }
}

.vsc-grid {
  .v-col {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    text-align: center;
    border-radius: 0;
    padding: 12px 0;
  }

  .v-row > .v-col:nth-child(2n + 1) {
    background: mix($-color--primary, #ffffff, 75%);
  }

  .v-row > .v-col:nth-child(2n) {
    background: $-color--primary;
  }
}
