.vsc-button {
  .v-button {
    margin: 6px 12px 6px 0;
  }
}

.vsc-link {
  .v-link {
    margin: 6px 12px 6px 0;
  }
}

.vsc-text {
  span.v-text {
    margin: 6px 12px 6px 0;
  }

  .v-text--ellipsis {
    width: 60px;
  }
}

.vsc-grid {
  .v-col {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    text-align: center;
    border-radius: 0;
    padding: 12px 0;
  }

  .v-row > .v-col:nth-child(2n + 1) {
    background: mix($-color--primary, #ffffff, 75%);
  }

  .v-row > .v-col:nth-child(2n) {
    background: $-color--primary;
  }
}

.vsc-layout {
  margin: 6px 0;
  font-size: 18px;
  text-align: center;
  height: 400px;
  color: #ffffff;

  .v-layout--left,
  .v-layout--right {
    background: mix($-color--primary, #ffffff, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
  }

  .v-layout--header {
    background: mix($-color--primary, #ffffff, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
  }

  .v-layout--body {
    background: mix($-color--primary, #ffffff, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .v-layout--footer {
    background: mix($-color--primary, #ffffff, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
  }
}

.vsc-affix {
  .v-button {
    margin: 6px 0;
  }
}

.vsc-space {
  padding: 6px 0;

  .v-space + .v-space {
    margin-top: 16px;
  }
}
