@import "../../style/variable.scss";
@import "../dropdown/index.scss";

.kv-select--input {
  background-color: #ffffff;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  -webkit-appearance: none;
  background-image: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 1.5;
  outline: none;
  padding: 4px 11px;
  transition: border-color 0.2s;
  width: 100%;
}
