@import "../../style/variable.scss";
@import "../dropdown/index.scss";

.kv-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  zoom: 1;
}

.kv-select--selection {
  position: relative;
  box-sizing: border-box;
}

.kv-select--input,
.kv-select--tags {
  background-color: $--select-background-color;
  border: $--select-border;
  border-radius: $--select-border-radius;
  -webkit-appearance: none;
  background-image: none;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  outline: none;

  transition: border-color 0.2s;
  width: 100%;

  &.kv-select--input {
    padding: 4px 30px 4px 11px;
    height: 32px;

    &::placeholder {
      font-size: 14px;
      color: $--select-border-color;
    }
  }

  &.kv-select--tags {
    padding: 0 0 3px 0;
    min-height: 32px;
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: $--color--primary;
  }
}

.kv-select--tags-item {
  display: inline-block;
  box-sizing: border-box;
  background-color: mix($--color--white, $--color--primary, 90%);
  height: 24px;
  line-height: 24px;
  margin: 3px 0 0 6px;
  font-size: 14px;
  padding: 0 8px;
  border-radius: $--select-tag-border-radius;
}

.kv-select--tags-icon {
  margin-left: 4px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.kv-select--placeholder {
  color: $--select-border-color;
  padding: 5px 30px 0px 11px;
  box-sizing: border-box;
  line-height: 1.5;
  box-sizing: border-box;
}

.kv-select--icon {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  line-height: 0;
  transform: translateY(-50%);
  color: $--select-icon-color;
}

.kv-select--dropdown {
  background-color: $--select-dropdown-background-color;
  padding: 4px;
  margin: 4px 0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  z-index: 1050;
}

.kv-select--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.kv-select--empty {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: $--select-border-color;
  font-size: 14px;
  list-style: none;
}

// ----------option--------------

.kv-option {
  list-style: none;
  position: relative;
  display: block;
  padding: 5px 12px;
  overflow: hidden;
  font-weight: normal;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2px 0;
  border-radius: $--select-option-border-radius;

  &:hover {
    background-color: mix($--color--white, $--select-border-color, 75%);
  }
}

.kv-option--selected,
.kv-option--selected:hover {
  background-color: mix($--color--white, $--color--primary, 90%);
  color: $--color--primary;
  font-weight: 700;
}

.kv-option--disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

// ----------group-----------------

.kv-select-option-group,
.kv-select-option-group--content {
  padding: 0;
  margin: 0;
  list-style: none;

  .kv-option {
    padding-left: 18px;
    list-style: none;
  }
}

.kv-select-option-group--title {
  height: 32px;
  padding: 0 12px;
  font-size: 13px;
  line-height: 32px;
  opacity: 0.5;
}
