@import "../../style/variable.scss";

.kv-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.kv-input--input {
  background-color: #ffffff;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  -webkit-appearance: none;
  background-image: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 1.5;
  outline: none;
  padding: 4px 11px;
  transition: all 0.2s;
  width: 100%;

  &::placeholder {
    font-size: 14px;
    color: #b4b4b4;
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: $--color--primary;
  }
}

.kv-input--prepend,
.kv-input--append {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;

  .kv-input--prepend-inner,
  .kv-input--append-inner {
    background-color: #f0f0f0;
    border: 1px solid #b4b4b4;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
  }
}

.kv-input--prepend {
  .kv-input--prepend-inner {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }
  .kv-input--input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.kv-input--append {
  .kv-input--append-inner {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
  }
  .kv-input--input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.kv-input--prefix {
  .kv-input--input {
    padding-left: 30px;
  }
  .kv-input--prefix-inner {
    position: absolute;
    top: 50%;
    left: 12px;
    z-index: 2;
    line-height: 0;
    transform: translateY(-50%);
    color: #999999;
  }
}

.kv-input--suffix {
  .kv-input--input {
    padding-right: 30px;
  }
  .kv-input--suffix-inner {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 2;
    line-height: 0;
    transform: translateY(-50%);
    color: #999999;
  }
}

.kv-input--disabled {
  opacity: 0.5;
  pointer-events: none;
}
