.kv-dropdown {
  position: relative;
  box-sizing: border-box;
}

.kv-dropdown--selection {
  position: relative;
}

.kv-dropdown--panel {
  position: absolute;
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1000;
}

.kv-dropdown-enter-active,
.kv-dropdown-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.2s, opacity 0.2s;
  transform-origin: center top;
}

.kv-dropdown-enter,
.kv-dropdown-leave-active {
  opacity: 0;
  transform: scaleY(0);
}
